h1 {
    background: #333;
}
h1, h2 {
    margin: 0;
}
section {
    box-sizing: border-box;
}
h2, ul {
    box-sizing: border-box;
}
section h2 {
    float: left;
    height: 120px;
    width: 20%;
    background: #777;
    text-align: center;
    vertical-align: middle;
}
section ul {
    padding-left: 2px;
    display: inline-block;
    width: 80%;
    height: 120px;
}
section::after {
    content: '';
    display: block;
    clear: both;
}
ul {
    margin: 0;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #777;
    border-right: 1px solid #777;
}
h2 {
    border-bottom: 1px solid #fff;
}
.basicinfos li,.contacts li{
    float: left;
    margin-right: 20px;
}
.basicinfos::after,.contacts::after{
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}
.basicinfos li p,.contacts li p,.abilitys li p,.studys li p,.experiences li p{
    display: inline;
    margin-left: 20px;
}
li span {
    font-weight: bold;
}